@import "../scss/main.scss";

.navbar {
    z-index: 999;
}

.nav-link {
    &:hover {
        &:not(.active) {
            background-color: map-get($custom-theme-colors, "blue-3");
            color: lightgray;
        }
    }

    &.active {
        background-color: map-get($custom-theme-colors, "blue-3");
        color: white;

        * {
            color: white;
        }
    }

    transition: all 0.3s ease-in-out;
}