.sidebar {
    height: 100%;
    min-height: 100%;
    overflow: hidden;
    position: sticky;
    top: 0px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1000px) {
    .sidebar {
        display: none;
    }
    .children {
        width: 100vw;
    }
}